@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fixel Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local("Fixel Variable"), local("Fixel-Variable"), local("FixelVariable"),
    url("/fonts/FixelVariable.woff2") format("woff2");
}

textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
