name: ci

on: [push, pull_request]

jobs:
  deno:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v4

      - name: install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.x

      - name: format
        run: deno fmt --check

      - name: lint
        run: deno lint

      - name: check
        run: deno task check

      # - name: test
      #   run: deno task test
